<div class="cards-grid">

  <% if(data) { %> <!-- if there is project data to append with -->
    <% for(let project of data) { %> <!-- foreach project that there is -->

      <!-- Create a container for card, and fill in info from projects database-->
      <div class="card-container card-container-dimensions">
        <div class="card-image-container">
          <img class="card-image" src="<%=project.ProjectImg%>" alt="Image showing a picture of the project."> <!-- card image -->
        </div>
        <div class="card-label">
          <div class="card-project-title left">
            <h3><%=project.ProjectTitle%></h3> <!-- project title -->
          </div>
          <div class="card-project-further-info">
              <p class="left"><strong>Category</strong><br><%=project.ProjectCategoryIDFK%> </p> <!-- project category -->
              <p class="right"><strong>Date</strong><br><%=project.ProjectDate%></p> <!-- project date -->
          </div>
        </div>
        <div class="card-information">
          <h3><%=project.ProjectTitle%></h3> <!-- project title -->
          <p>
            <%=project.ProjectDesc%> <!-- project description -->
          </p>
          <a href="<%=project.ProjectLink%>" alt="Link to view individual project page.">Read More ></a> <!-- project link -->
        </div>
      </div>

    <% } %>
  <% } else { %>
  <% } %>

</div> 